/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------*/
nav{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
}
.links{
	cursor: pointer;
	display: inline;
	float:right;
	margin-top:1.7rem;

}
.links>li{
	display: inline;
	color: rgb(131, 137, 148);
	margin-left:1.563rem;

	/*What's the rem? */
}
.links>li:hover{
	color: #333333;
}
.links>li:nth-child(1){
	color: rgb(76, 80, 88);
	font-weight: 500;
}
.logo{
	/*margin-left: 5.8rem;*/
	height: 4.375rem;
}
/*What governs the size of the image? The inline width/height attributes or the css width/height attributes? */
.container{
	width:57%;
	margin: 0 auto;
	/*float: left;*/
	/*width: 37%;*/
	/*text-align: center;*/
	/*How to center different elements? text-align:center or margin:0 auto? */
}
header{
	/*float:left;*/
	width: 100%;
	font-size: 1.04rem;
}
.introduction h1{
	font-size: 3.125rem;
}
.introduction h3{
	font-size: 1.563rem;
	margin-top:1.25rem;
}

.introduction{
	/*Tried to position the image in exactly the same way, wasn't able to */
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat:no-repeat;
    background-size:cover;
    height: 45.938rem;
}
button{
	margin-top:1.563rem;
	cursor: pointer;
	color:white;
	background-color: #f15a29;
	/*Ordering is key - border style to be defined before mentioning border color */
	/* Can be defined in a single line of code - ordering has to be maintained*/
	/*border: 1px solid;*/
	/* Didn't understand */
	border-style:none;
	border-color: #f15a29;
    border-radius: 4px;
    width: 9.688rem;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
	/*Doesn't inherit the color property from the 'content' class? */
	/*IULIA TO CHECK */
}
button:hover{
	background-color: #d9400e;
	border-color: #cf3d0e;
}
.introduction .content{
	width:60%;
	margin:0 auto;
	padding-top:12rem;
	text-align: center;
	height: 100%;
	color:white;
	font-weight: 300;
}
.description{
	/*What difference does padding-bottom vs margin-bottom make? */
	margin-top: 7.875rem;
	padding-bottom: 5rem;
}
.description h2{
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
}
.description h3{
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0px 1.875rem;
}
.description li{
	float:left;
	/*Try clearing the li's using only CSS - removing the empty div */
	/*Why float and why not display:inline? - DONE*/;
	width: 33.33%
}
.description ul{
	width: 60%;
	margin:0 auto;
}
.descontainer{
	/*float: left;*/
	/*width: 100%;*/
	text-align: center;
	/*margin-top: 7.875rem;*/
}
footer{
	/*float:left;*/
	/*clear:both;*/
	text-align: center;
	padding-bottom: 9.375rem;
	/*width:100%;*/
}
footer .content{
	width: 60%;
	margin: 0 auto;
}
footer .content li{
	display: inline-block;
	cursor: pointer;
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;
	text-align: center;
}
footer .content .twitter{
	color: #55acee;
}
footer .content .facebook{
	color: #4c66a4;
}
footer .content .insta{
	color: #3f729b;
}
footer .copyright{
	font-size: 0.9rem;
	font-weight: 300;
	color: #838994;
}
footer hr{
	border: 0;
	border-top: 1px solid #eaebec;
	margin: 1.313rem 0;
}
